

.main .line {
  background: rgb(74, 119, 187);
  height: 0.8vh;
}

.main .links {
  display: flex;
  justify-content: space-between;
  padding: .5rem 5%;
  align-items: center;
  background:rgb(40, 93, 172);
}

.main .links .left, .main .links .right{
  display: flex;
  gap: .75rem;
  color: white;
}

.main .links .left a, .main .links .right a{
  color: white;
  text-decoration: none;
}

.main .navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  gap: 10%;
  position: relative;
}

.main .navbar #logo{
  height: 100%;
  cursor: pointer;
}

.main .navbar .nav-items{
  display: flex;
  align-items: center;
  gap: 3rem
}

.main .navbar .nav-item-hidden{
  display: flex;
  align-items: center;
  gap: 3rem
}

.main .navbar #responsive-icon{
  display: none;
}

.main .navbar #responsive-icon #icon{
  opacity: 0;
}

.main .navbar .nav-items .item, .main .navbar .nav-item-hidden .item{
  cursor: pointer;
  font-weight: 600;
  font-size: 1.25rem;
  transition: .3s ease-in-out;
}

.main .navbar .nav-items .item:hover, .main .navbar .nav-item-hidden .item:hover{
  color: #00bcd4;
}



@media screen and (max-width: 800px) {
  .main .navbar #responsive-icon{
    display: flex;
  }

  .main .navbar .nav-items{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5.9rem;
    z-index: 100;
    background-color: white;
    gap: 1rem;
    width: 100%;
    left: 0;
  }

  .main .navbar{
    justify-content: space-between;
    padding: 0 5%;
  }

  .main .navbar .nav-item-hidden{
    display: none;
  }

}


@media screen and (max-width: 800px) {
  .main .links{
    flex-direction: column;
    gap: .5rem;
    padding: .5rem 1%;
    font-size: .9rem;
  }

}