@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins',sans-serif;
}


/* font weight properties */
.medium-bold{
  font-weight: 500;
}

.semi-bold{
  font-weight: 600;
}

.bold{
  font-weight: 700;
}


/* text align properties */
.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}


/* font size properties */

.font-20{
  font-size: 1.25rem !important;
}

.font-24{
  font-size: 1.5rem;
}

.font-32{
  font-size: 2rem;
}

.font-40{
  font-size: 2.5rem;
}

@media screen and (max-width: 800px) {
  .font-20{
    font-size: 1.125rem !important;
  }

  .font-24{
    font-size: 1.25rem;
  }
  
  .font-32{
    font-size: 1.75rem;
  }
  
  .font-40{
    font-size: 1.7rem;
  }
}